@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Channels>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Main.cshtml";
}

@{
    var pageTitle = Model.Value<string>("title");
    var pageDescription = Model.Value<string>("description");
    var childNodes = Model.Children<ContentModels.Channel>();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
   
</head>
<body>
    <main class="main-content">

        <h2 class="pick-category">@pageTitle</h2>
        <h2 class="pick-category">@Html.Raw(pageDescription)</h2>

        <div class="channels-list">
            @foreach (var child in childNodes)
            {
                @Html.Partial("~/Views/Partials/_ChannelItem.cshtml", child)
            }
        </div>

    </main>
</body>
</html>

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #1E3E60;
    }

    .main-content {
        /* padding: 1rem; */
    }

    .pick-category {
        font-size: 1.5rem;
        margin: 1rem 1rem 1rem 0;
        padding-top: 1.5rem;
        color: white;
    }

    .channels-list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
</style>