@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using System.Linq;


@{
    Layout = "Main.cshtml";
}

@{
    var rootNodes = Umbraco.ContentAtRoot();
    var allContributors = rootNodes
        .SelectMany(r => r.DescendantsOrSelf<ContentModels.Contributor>());
    var title = Model.Value<string>("title");
    var subTitle = Model.Value<string>("subTitle");
}

<h1>@title</h1>

<ul>
    @foreach (var contributor in allContributors)
    {

        var contributorName = contributor.Value<string>("contributorName") ?? "Unknown name";

        <li>
            <a href="@contributor.Url()">
                <p style="text-decoration: none; color: white">@contributorName</p>
            </a>
        </li>
    }
</ul>